
#header{
  box-sizing: border-box;
  padding: 3em 1em;
  background-image: url(\hearder_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1200px;
  margin: 30px auto;
}
#header a {
  font-weight: bold;
  color: #545454;

}
@media screen and (max-width: 1260px) {
    #header {
      width: 100%;
    }
}


#local-search-result {
  margin-top: 0.2em;
}

.search-result-item {
  display: block;
  padding: 0.8em;
  margin-bottom: 0.2em;
  border-radius: 6px;
  text-decoration: none;
  color: inherit;
  transition: background 0.2s;
  border: 1px solid #ddd;
  background-color: white;
}

.search-result-item:hover {
  background-color: #f7f7f7;
  text-decoration: none;
}

.search-result-title {
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 0.3em;
  font-size: 1.2em;
}

.search-result-snippet {
  font-size: 0.9em;
}

.search-no-result {
  font-style: italic;
  padding: 0.5em;
}
